/* Importación de la fuente de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

/* Agrega este estilo para mostrar la barra de desplazamiento vertical */
.container-lg {
    overflow-y: auto; /* Puedes usar 'scroll' en lugar de 'auto' si deseas que la barra de desplazamiento siempre esté visible incluso si no es necesario el desplazamiento. */
    max-height: calc(100vh - 100px); /* Ajusta la altura máxima según tus necesidades, esto evitará que el contenido se desborde de la ventana. */
}
/* Estilos globales */
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Estilos del cuerpo de la página */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#ce0a52,#ad17cb);
    overflow: hidden; /* Esto podría estar causando problemas, revisa si es necesario */
}

/* Estilo para campos de entrada personalizados */
.my-custom-input {
    width: 80px; /* Puedes ajustar el valor según tus necesidades */
}

/* Contenedor principal */
.wrapper {
    position: relative;
    width: 400px;
    height: 525px;
}

/* Contenedor del formulario */
.form-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

/* Animación de rotación para el formulario */
.wrapper.animate-signUp .form-wrapper.sign-in {
    transform: rotate(7deg);
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}

/* Animación de rotación para el formulario */
.wrapper.animate-signIn .form-wrapper.sign-in {
    animation: animateSignIn 1.5s ease-in-out forwards;
}

/* Animación de rotación para el formulario */
.wrapper.animate-signIn .form-wrapper.sign-up {
    animation: animateRotate .7s ease-in-out forwards;
    animation-delay: .3s;
}

/* Estilos para encabezados */
h2 {
    font-size: 30px;
    color: #555;
    text-align: center;
}

h1 {
    font-size: 30px;
    color: #555;
    text-align: center;
}

/* Estilos para grupos de entrada */
.input-group {
    position: relative;
    width: 320px;
    margin: 30px 0;
}

/* Estilos para etiquetas de grupos de entrada */
.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #333;
    padding: 0 5px;
    pointer-events: none;
    transition: .5s;
}

.text-black {
    color: black;
}

/* Estilos para campos de entrada */
.input-group input {
    width: 100%;
    height: 40px;
    font-size: 16px;
    color: #333;
    padding: 0 10px;
    background: transparent;
    border: 1px solid #333;
    outline: none;
    border-radius: 5px;
}

/* Estilos para etiquetas de campos de entrada cuando están enfocados o tienen un valor válido */
.input-group input:focus~label,
.input-group input:valid~label {
    top: 0;
    font-size: 12px;
    background: #fff;
}

/* Estilos para el enlace "¿Olvidaste tu contraseña?" */
.forgot-pass {
    margin: -15px 0 15px;
}

.forgot-pass a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
}

.forgot-pass a:hover {
    text-decoration: underline;
}

/* Estilos para el botón */
.btn {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(to right, #ad17cb, #c1ce0a);
    box-shadow: 0 2px 10px rgba(0, 0, 0, .4);
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    outline: none;
}

/* Estilos para el enlace de registro/inicio de sesión */
.sign-link {
    font-size: 14px;
    text-align: center;
    margin: 25px 0;
}

.sign-link p {
    color: #333;
}

.sign-link p a {
    color: #e91e63;
    text-decoration: none;
    font-weight: 600;
}

.sign-link p a:hover {
    text-decoration: underline;
}

/* Estilos para la barra de navegación */
.navbar {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
}

/* Estilos para el logotipo de la barra de navegación */
.navbar-brand {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: inherit;
}

/* Estilos para los elementos de menú de la barra de navegación */
.nav-link {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    line-height: inherit;
}

/* Estilos para el menú desplegable de la barra de navegación */
.dropdown-menu-end {
    right: 0;
    left: auto;
}

/* Estilos para los elementos del menú desplegable */
.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

/* Estilos para los elementos del menú desplegable al pasar el mouse */
.dropdown-item:hover {
    color: #16181b;
    background-color: #f8f9fa;
}

/* Estilos para los elementos del menú desplegable con enfoque */
.dropdown-item:focus {
    color: #16181b;
    background-color: #f8f9fa;
}

/* Estilos para el elemento del menú desplegable activo */
.dropdown-item.active {
    color: #fff;
    background-color: #0d6efd;
    text-decoration: none;
}

/* Estilos para el elemento del menú desplegable activo al pasar el mouse */
.dropdown-item.active:hover {
    background-color: #0b5ed7;
    color: #fff;
}

/* Estilos para la flecha del menú desplegable */
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-bottom: 0;
    border-left: 0.3em solid transparent;
}

/* Estilos para la flecha del menú desplegable cuando está expandido */
.dropdown-toggle[aria-expanded="true"]::after {
    border-top: 0;
    border-bottom: 0.3em solid;
}
